*{
    margin: 0;
    padding: 0;
}
.main{
     
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(11.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh ;
}
.navibar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: orangered;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: aliceblue;
    font-family: Arial;
    font-weight: bold;
    transition: 0.04s ease-in-out;
}
ul li a:hover{
      color: orangered;
}
.search{
    width: 330px;
    float: left;
    margin-left: 1000px;
    align-items: left;
}
.serc{
    width: 200px;
    height: 40px;
    font-family: Arial;
    background: transparent;
    margin-top: 1px;
    color: aliceblue;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

 }
 .btn{
    width: 100px;
    height: 42px ;
    background: orangered;
    border: 2px;
    color: aliceblue;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
 }
 .btn:focus{
    outline: none;
 }
 .serc.focus{
    outline: none;
 }
 .con{
    width: 200px;
    height: auto;
    margin: auto;
    color: aliceblue;
    position: relative;
    padding-left: 15px;
 }
 .par{
    padding-left: 15px;
    padding-bottom: 15px;
    font-family: Arial;
    letter-spacing: 0.8px;
    line-height: 20px;
 }
.pp{
    width: 150px;
    height: 40px;
    background-color: orangered;
    border: none;
    margin-left: 10px;
}
.pp:hover{
    background-color: aliceblue;

}
.con span{
    color: orangered ;
    font-size: 60px;
}
.form{
    width: 250px;
    height: 380px;
    background: linear-gradient( to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 200px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
}
.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: orangered;
    font-size: 22px;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 8px;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}
.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid orangered;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 15px;
}
.form input:focus{
    outline: none;
}
:placeholder{
    color: aliceblue;
    font-family: Arial;
}
.btnn{
    width: 240px;
    height: 40px;
    background: orangered;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
}
.btnn:hover{
    background: white;
    color: orangered;
}
.form.linkk{
    color: aliceblue;
    text-align: center;
    font-family: Arial;
    font-size: 17px;
}